{% extends 'base.html' %}

{% block content %}
<!-- below keyword object is passed in/given to us. it holds the same data as console. both object or console will both work -->
<!-- code below means if there's an object/console in it, in this case if we are editing/updating, then show the console, 
if we are adding a console, then there's no object so it wouldn't show the object -->
<!-- reason why both EDIT and ADD both are rendering this page is because by default, both those views will look inside
this folder/same folder to render -->
{% if object %}
    <h1>Edit <span class="teal-text">{{ console.consolemodel }}</span></h1>
{% else %}
    <h1>Add Console</h1>
 {% endif %}
    <!-- Leaving the action empty makes the form post to the same url used to display it -->
    <form action="" method="post">
        <!-- Django requires the following for security purposes -->
        {% csrf_token %}
        <table>
        <!-- Render the inputs inside of <tr>s & <td>s -->
        {{ form.as_table }}
        </table>
        <input type="submit" value="Submit!" class="btn">
    </form>
{% endblock %}